* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  padding: 3rem 5rem;
  padding-bottom: 0;
  padding-top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}
nav a {
  font-size: 2.5rem;
  text-decoration: none;
}
nav ul a {
  color: #000000;
  font-weight: 600;
}
nav ul a:hover {
  border-bottom: 2px solid #0B4556;
}
section#home {
  padding-top: 100px;
  height: 60vh;
  display: grid;
  place-items: center;
}
h1 {
  font-size: 4rem;
}
#ham-menu {
  display: none;
}
nav ul.active {
  left: 0;
}

.blank {
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
box-sizing: border-box;
}

 body {
    background-color: #10898d;
    font-family: "Muli", sans-serif;
    overflow-y: auto; /* Add this line */
    height: 100vh; /* Add this line */
    margin: 0; /* Add this line */
    padding: 0; /* Add this line */
  }


h1 {
margin: 50px 0 30px;
text-align: center;
}

.faq-container {
margin: 0 auto;
width: 800px;
}

.faq {
background-color: white;
border: 1px solid #9fa4a8;
border-radius: 10px;
margin: 20px 0;
overflow: hidden;
padding: 30px;
position: relative;
transition: 0.3s ease;
}

.faq.active {
background-color: #fff;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
color: #2ecc71;
content: "\f075";
font-family: "Font Awesome 6 Free";
font-size: 7rem;
left: 20px;
opacity: 0.2;
position: absolute;
top: 20px;
z-index: 0;
}

.faq.active::before {
color: #3498db;
left: -30px;
top: -10px;
transform: rotateY(180deg);
}

.faq-title {
margin: 0 35px 0 0;
font-size: 2.5rem;
}

.faq-text {
display: none;
margin: 30px 0 0;
font-size: 1.6rem;
}

.faq.active .faq-text {
display: block;
}

.faq-toggle {
align-items: center;
background-color: transparent;
border: 0;
border-radius: 50%;
cursor: pointer;
display: flex;
font-size: 2rem;
height: 30px;
justify-content: center;
padding: 0;
position: absolute;
right: 30px;
top: 30px;
width: 30px;
}
.faq-toggle .fa-times,
.faq.active .faq-toggle .fa-chevron-down {
display: none;
}

.faq.active .faq-toggle .fa-times {
color: #fff;
display: block;
}

.faq-toggle .fa-chevron-down {
display: block;
}

.faq.active .faq-toggle {
background-color: #9fa4a8;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 2.2rem 5rem;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  #ham-menu {
    display: block;
    color: #000000;
  }
  nav a#logo,
  #ham-menu {
    font-size: 5.2rem;
  }
  nav ul {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}

/* Footer CSS */

footer {
  width: 100%;
  color: #007791;
  font-size: 13px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  /* font-weight: 400; */
}

.footer-innerdiv1 {
  background-color: white;
  display: flex;
  padding: 30px 20px 30px 20px;
  border-top: 1px solid #e8e9eb;
  /* margin: 40px 0px 40px 0px; */
}

.col1 {
  flex: 3;
}

.col2, .col3 {
  flex: 2;
}

.col4 {
  flex: 2.6;
}

.footer-ul {
  list-style: none;
  padding: 0px;
}

.footer-li {
  cursor: pointer;
  padding: 0px 5px 15px 5px;
}

.English-btn {
  cursor: pointer;
  float: right;
  border: none;
  border-radius: 2px;
  background: white;
  color: #686f7a;
  font-weight: 700;
  border: 1px solid black;
  margin-top: 10px;
}

.English-btn:hover {
  background-color: #e8e9eb;
}

.English-btn>i {
  padding: 10px;
}

/* FOOTER Last div  CSS*/

.footer-innerdiv2 {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 25px 10px 25px 10px;
  border-top: 1px solid #e8e9eb;
  border-bottom: 6px solid 	#10898d;
}

.left-contlist {
  display: flex;
  align-items: center;
  flex-basis: 48%;
}

.right-contlist {
  flex-basis: 48%;
}

.ullist-right {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-top: 5rem;
}

.copyright-span:hover {
  cursor: auto;
}

.r-li-itm {
  font-size: 13px;
  cursor: pointer;
  margin-right: 10px;
}

.r-li-itm:hover {
  color: #003845;
  cursor: pointer;
}